<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('home') }}">Symfony 3</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ path('home') }}">Home</a></li>
      <li><a href="{{ path('book') }}">The Book</a></li>
      <li><a href="{{ path('cookbook') }}">The Cookbook</a></li>
    </ul>
  </div>
</nav>