<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
        	<!--  Bootstrap -->
        	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        	<style>
        		.body_content {
        			margin-top: 50px;
        		}
        	</style>
        
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
    
        {% block body %}
        
        	{% block nav %}
        		{{ render(controller('SymfonyBundle:Symfony:nav')) }}
        	{% endblock %}  
        	  
			<div class="container-fluid body_content">    
				<div class="row">
					<div class="col-md-offset-2 col-xs-12 col-md-8">
			        	{% block body_content %}
			        	
			        	{% endblock %}
			        </div>
		    	</div>
			</div>
        
        {% endblock %}
        
        {% block javascripts %}
      		<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

			<!-- Latest compiled JavaScript -->
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
        
    </body>
</html>
