
<p>Embedding controllers</p>

	{{ render(controller(
	    'BookBundle:Template:recentArticles',
	    { 'max': 2 }
	)) }}

<a href="https://symfony.com/doc/current/book/templating.html#asynchronous-content-with-hinclude-js" target="_blank">
	Asynchronous Content with hinclude.js
</a>