{% extends 'BookBundle::base.html.twig' %}

	{% block title %}
	
		{{ parent() }}-The Book
		
	{% endblock %}

	{% block body %}
	
		{{ parent() }}
	
	{% endblock %}
	
	{% block body_content %}	
		<h2>
			<a href="https://symfony.com/doc/current/cookbook/security/index.html" target="_blank">
				Security
			</a>
		</h2>
		
		<a href="{{ path('cookbook_loginForm') }}">
			How to Build a Traditional Login Form
		</a>
			
	{% endblock %}	